<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>{{title}}</title>
  </head>
  <body class="h-screen bg-[#121212] text-[#f2f2f2] overflow-hidden">
    <header
      class="bg-blue-600 w-full py-6 px-8 flex items-center justify-between"
    >
      <h2>LOGO</h2>
      <nav class="flex items-center gap-20">
        <a href="#">Home</a>
        <a href="#">Add product</a>
      </nav>
    </header>
    <div class="h-full flex items-center justify-center">
      {{{body}}}
    </div>
  </body>
</html>